body {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #628846;
  height: 100%;
}

/* override Bootstrap styles */
h1, h2 {margin: 0; padding: 0;}
h1 {font-size: 28px;}
h2 {font-size: 20px;}
.btn {margin-right: 8px;}
.btn-link {padding-left: 0px; padding-right: 0px;}

/*
 * application styles
 */
 
#map_canvas {
  height: 200px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

@-webkit-keyframes greenPulse {
  from { -webkit-box-shadow: 0 0 5px #1EA94A; }
  40% { -webkit-box-shadow: 0 0 18px #94C849; }
  to { -webkit-box-shadow: 0 0 5px #1EA94A; }
}

@-moz-keyframes greenPulse {
  from { -moz-box-shadow: 0 0 5px #1EA94A; box-shadow: 0 0 1px #1EA94A;  }
  40% { -moz-box-shadow: 0 0 18px #94C849; box-shadow: 0 0 10px #94C849; }
  to { -moz-box-shadow: 0 0 5px #1EA94A; box-shadow: 0 0 1px #1EA94A;}
}


.btn-glow {
   /*webkit*/
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: 10;
  /*moz*/
  -moz-animation-name: greenPulse;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: 10;
}

.service {
	margin: 2px;
	margin-left: 0;
	margin-right: 5px;
	padding-top: 5px;
	padding-left: 42px;
	padding-right: 4px;
  border: solid #628846 2px;
	border-radius: 5px;
	height: 36px;
	width: 295px;
	float: left;
	background-color: #CFEBB9;
	/* background-image specified by service-type */
  background-repeat: no-repeat;
  background-position: 4px 4px;
  line-height: 110%;
}

/* choose icon for service type */
.service-type-garbage {background-image: url(../img/icon-trash-32.png);}
.service-type-yard_trimming {background-image: url(../img/icon-trash-32.png);}
.service-type-recycle {background-image: url(../img/icon-recycle-32.png);}
.service-type-brush {background-image: url(../img/icon-tree-32.png);}
.service-type-bulky {background-image: url(../img/icon-couch-32.png);}

/* override .service styles for given service status */
body .service-status-pending {
  /* default .service styles are for "pending" status */
}
body .service-status-active {
  background-color: #FFD5E8;
}
body .service-status-past {
  border: solid #999 2px;
  background-color: #E7EBE4;
  color: #999;
  font-style: italic;
}

.service-title {font-weight: bold;}
.service-note {display: block; font-size: 90%;}

.logo {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
